name: Code quality

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Downgrade pip
        run: pip install "pip<22"
      - name: Install dependencies
        run: |
          pip install ".[dev]" mypy "black<23"
          mypy --install-types --non-interactive reacton
      - name: Run black
        run: black reacton
      - name: Run flake
        run: flake8 reacton
      - name: mypy
        run: mypy reacton
